video {
    position: absolute;
    float: left;
    top: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    visibility: hidden;
    object-fit: unset;
}

.cameraName {
    background-color: #7abd27;
    color: white;
    position: absolute;
    float: left;
    top: 15px;
    left: 15px;
    padding: 5px;
    font-weight: bold;
}

.aspectControl {
    background-color: #7abd27;
    color: white;
    position: absolute;
    float: left;
    bottom: 15px;
    left: 15px;
    padding: 5px;
    font-weight: bold;
    font-size: 24px;
    cursor: pointer;
}

.aspectControl:active {
    color: #676767;
}

.fullScreenControl {
    background-color: #7abd27;
    color: white;
    position: absolute;
    float: right;
    top: 15px;
    right: 15px;
    padding: 5px;
    font-weight: bold;
    font-size: 24px;
    cursor: pointer;
}

.fullScreenControl:active {
    color: #676767;
}

.exitFullScreenControl {
    background-color: #7abd27;
    color: white;
    position: absolute;
    float: right;
    top: 15px;
    right: 15px;
    padding: 5px;
    font-weight: bold;
    font-size: 24px;
    cursor: pointer;
}

.exitFullScreenControl:active {
    color: #676767;
}

.speakerControl {
    background-color: #7abd27;
    color: white;
    position: absolute;
    float: left;
    bottom: 15px;
    left: 60px;
    padding: 5px;
    font-weight: bold;
    font-size: 24px;
    cursor: pointer;
}

.speakerControl:active {
    color: #676767;
}

.disconnectButton {
    background-color: #7abd27;
    color: white;
    position: absolute;
    float: left;
    bottom: 15px;
    left: 110px;
    padding: 5px;
    font-weight: bold;
    font-size: 17px;
    cursor: pointer;
}

.disconnectButton:active {
    color: #676767;
}

.restartStreamButton {
    background-color: #7abd27;
    color: white;
    position: absolute;
    float: left;
    bottom: 15px;
    left: calc(50% - 90px);
    padding: 5px;
    font-weight: bold;
    font-size: 17px;
    cursor: pointer;
}

.restartStreamButton:active {
    color: #676767;
}

.control {
    visibility: hidden;
}